body{
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(98, 161, 148);
}

main{
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center;
   
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(195, 220, 215);
    width: 500px;
    height: 500px;
    border-radius: 5px;
    line-height: 50px;
   
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 90%;
}

input{
    width: 90%;
    height: 40px;
    border: none;
    outline-style: none;
    font-size: 25px;
    color: darkslategray;
}

label{
    font-size: 25px;
}

button{
    width: 100px;
    height: 40px;
    background-color: rgb(7, 48, 42);
    border: none;
    color: white;    
    font-size: medium;
    text-align: center;
    margin-left: 300px;
}

button:hover{
    background-color: rgb(18, 117, 102);
    cursor: pointer;
    
}

h1{
    font-style: oblique;
    font-size: xx-large;   
}

footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(68, 87, 74);
    color: rgb(12, 12, 12);
    width: 100%;
    height: 95px;    
    text-align: center;
    line-height: 100px;
    font-family: cursive;
    margin-block-end: 0%;
}